@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(0rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fazeIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0;
    transform: scale(0.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content repeat(2, 40vw) min-content 35rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.footer {
  grid-column: full-start / full-end;
  background: linear-gradient(to bottom, #297eff, #6c63ff); }

.header {
  grid-column: full-start / full-end;
  background: linear-gradient(to bottom, #297eff, #6c63ff);
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  font-size: 2.2rem;
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 1fr 1fr; }
  .header .nav {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600; }
    .header .nav__container {
      margin-right: 8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none; }
    .header .nav__item {
      position: relative;
      margin-right: 5rem; }
      .header .nav__item--active {
        margin-right: 5rem;
        border-bottom: 3px solid #fff; }
    .header .nav__item::before {
      content: '';
      position: absolute;
      top: 2.4rem;
      left: 0;
      height: 15%;
      width: 3px;
      background-color: #fff;
      transform: scaleY(0);
      transition: transform 0.8s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s; }
    .header .nav__item:hover::before, .header .nav__item--active:hover::before {
      transform: scaleY(1);
      width: 100%; }
    .header .nav__item:active::before {
      background-color: #297eff; }
    .header .nav__link:link, .header .nav__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff; }
    .header .nav .logo {
      width: 5rem;
      height: 5rem;
      background-color: #fff;
      clip-path: polygon(50% 41%, 0 100%, 100% 100%);
      margin-left: 20%; }
  .header__content {
    grid-column: 1 / 1;
    position: relative;
    top: -7rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start; }
  .header__content-title {
    color: #fff;
    letter-spacing: 0.6rem;
    margin-bottom: 0.5rem;
    animation: moveInRight 1s ease-out 0s; }
  .header__content-role {
    color: #fff;
    letter-spacing: 0.3rem;
    font-weight: 200;
    animation: moveInLeft 1s ease-out 0s; }
  .header__content-btn {
    margin-top: 2.4rem;
    animation: moveInBottom 1s ease-out 0s; }
  .header__img-container {
    height: 100%;
    position: relative; }
  .header__img-main {
    position: relative;
    left: -10%;
    width: 100%;
    animation: fazeIn 2s ease-out 0s; }

.motivation__content {
  grid-column: col-start 3 / full-end;
  background-color: yellow; }

.motivation__aside {
  grid-column: full-start / col-end 2;
  background-color: orange; }

.profile__content {
  grid-column: full-start / col-end 6;
  background-color: yellow; }

.profile__aside {
  grid-column: col-start 7 / full-end;
  background-color: orange; }

.projects {
  grid-column: center-start / center-end;
  min-height: 40vw;
  background-color: #eee; }

.skills {
  grid-column: full-start / full-end;
  min-height: 60vw;
  background-color: #ccc; }

.btn-light, .btn-dark {
  min-width: 10rem;
  max-width: 22rem;
  padding: 1.2rem 1.5rem;
  min-height: 4rem;
  border-radius: 100px;
  background: none;
  box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  outline: none;
  cursor: pointer; }

.btn-light {
  color: #fff;
  border: 2px solid #fff; }
  .btn-light:hover {
    transform: scale(0.95);
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.4); }

.btn-dark {
  color: #000;
  border: 2px solid #000; }
  .btn-dark:hover {
    transform: scale(0.95);
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.4); }
