.initials {
  color: $font-color-light;
  font-family: 'Bauhaus 93', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.icon {
  color: $font-color-light;
  font-size: 3rem;
}

.icon-cta {
  color: transparent;
  font-size: 6rem;
  background-image: linear-gradient(
    to bottom,
    $color-primary-light,
    $color-primary-dark
  );
  letter-spacing: 0.5rem;
  background-clip: text;
  -webkit-background-clip: text;
}

.heading-cta {
  color: $font-color-light;
  font-size: 5.5rem;
  margin-bottom: 0.5rem;
  &--dark {
    color: $font-color-dark;
  }
}

%headings {
  font-weight: 400;
  font-family: $font-primary;
}

h1 {
  @extend %headings;
  font-size: 4.8rem;
  letter-spacing: 0;
}

h2 {
  @extend %headings;
  font-size: 3.4rem;
  letter-spacing: 0.25px;
}

h3 {
  @extend %headings;
  font-size: 2.4rem;
  letter-spacing: 0;
}
h4 {
  @extend %headings;
  font-size: 2rem;
  letter-spacing: 0.15px;
}

p {
  font-size: $font-size-default;
  font-family: $font-body;
  font-weight: 300;
  line-height: 2.6rem;
}
