.initials {
  color: $font-color-light;
  font-family: 'Bauhaus 93';
  font-size: 3rem;
  text-transform: uppercase;
}

.icon {
  color: $font-color-light;
  font-size: 3rem;
}

.icon-cta {
  color: transparent;
  font-size: 6rem;
  background-image: linear-gradient(to bottom, #fff, #bbb);
  letter-spacing: 0.5rem;
  background-clip: text;
  -webkit-background-clip: text;
}

.heading-cta {
  color: $font-color-light;
  font-size: 5.5rem;
  margin-bottom: 0.5rem;
}

.heading-secondary {
  text-transform: uppercase;
  //color: $color-primary-light;
  color: transparent;
  font-size: 6rem;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  letter-spacing: 0.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in;

  &:hover {
    transform: skewX(3deg) skewY(3deg) scale(1.1);
    text-shadow: $shadow-large;
  }
}

.heading-ternary {
  font-size: $font-size-large;
  color: $font-color-dark;
}

.paragraph {
  font-size: $font-size-default;
  line-height: 3.2rem;
}
