.nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  font-weight: 500;
  font-size: $font-size-large;

  &__container {
    margin-right: 8rem;
    display: flex;
    width: 40rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @media screen and (max-width: $bp-small) {
      display: none;
      position: relative;
    }
  }

  &__link:link,
  &__link:visited {
    position: relative;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    color: $font-color-light;
    padding: 0.8rem;
    //z-index: 5;
    transition: all 0.5s;
  }

  &__link--active {
    text-transform: lowercase !important;
    box-shadow: 0 10rem 8rem rgba($color: $color-secondary, $alpha: 0.3);
  }
  &__link:hover {
    box-shadow: 0 10rem 8rem rgba($color: $color-secondary, $alpha: 0.3);
  }

  &__link:before {
    position: absolute;
    content: '';
    left: 9%;
    bottom: 5px;
    width: 85%;
    height: 2px;
    background-color: $color-secondary;
    transform: scaleX(0);
    transform-origin: center;

    transition: all 0.4s cubic-bezier(0.1, 0, 0, 0.5);
  }

  &__link:hover:before {
    transform: scaleX(1);
  }

  &__logo {
    margin-left: 15vw;
    cursor: pointer;
    z-index: 10;
    //animation: spin 2s linear 0s;
  }

  &__hamburger {
    display: none;
    @media screen and (max-width: $bp-small) {
      display: inline-block;
      padding: 5px;
      position: absolute;
      right: 10%;
      transform: translateY(-15%);
      z-index: 10;
      cursor: pointer;

      .line {
        width: 3.5rem;
        height: 4px;
        margin-top: 6px;
        background-color: #fff;
      }
    }
  }
}
