.nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  font-weight: 500;
  font-size: $font-size-large;

  &__container {
    margin-right: 8rem;
    display: flex;
    width: 40rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    @media screen and (max-width: $bp-large) {
      display: none;
      position: relative;
    }
  }

  &__link:link,
  &__link:visited {
    position: relative;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    color: $font-color-light;
    padding: 0.8rem;
    //z-index: 5;
    transition: all 0.5s;
  }

  &__link--active {
    text-transform: lowercase !important;
    box-shadow: 0 10rem 8rem rgba($color: $color-secondary, $alpha: 0.3);
  }
  &__link:hover {
    box-shadow: 0 10rem 8rem rgba($color: $color-secondary, $alpha: 0.3);
  }

  &__link:before {
    position: absolute;
    content: '';
    left: 9%;
    bottom: 5px;
    width: 85%;
    height: 2px;
    background-color: $color-secondary;
    transform: scaleX(0);
    transform-origin: center;

    transition: all 0.4s cubic-bezier(0.1, 0, 0, 0.5);
  }

  &__link:hover:before {
    transform: scaleX(1);
  }

  &__logo {
    margin-left: 15vw;
    cursor: pointer;
    z-index: 10;
    //animation: spin 2s linear 0s;
  }
  &__hamburger {
    display: none;
  }
}

@media screen and (max-width: $bp-large) {
  .nav__hamburger {
    position: fixed;
    z-index: 200;
    right: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;

    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);

    .line {
      width: 2.8rem;
      height: 3px;
      margin: 0 0 4px 0;
      background: white;

      transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
      &:last-child {
        margin-bottom: 0;
      }
    }

    &--close {
      transform: rotate(90deg);
    }
    &--close .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    &--close .line:nth-child(2) {
      opacity: 0;
    }
    &--close .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}

.mobile-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    $color-primary-light,
    $color-primary-dark
  );
  z-index: 100;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;

  &--active {
    visibility: visible;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 4rem;

    transform: translate3d(0, -100%, 0);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__logo {
    background-color: $color-secondary;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transform: translate3d(0, 100%, 0);
    &--active {
      transform: translate3d(0, 0, 0);
    }
    span {
      font-size: 6rem;
    }
  }
}
