.nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  font-weight: 600;

  &__container {
    margin-right: 8rem;
    display: flex;
    width: 40rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    animation: moveInRight 3s ease-out 0s;

    @media screen and (max-width: $bp-small) {
      display: none;
      position: relative;
    }
  }

  &__item {
    position: relative;
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 2.4rem;
    left: 0;
    height: 15%;
    width: 3px;
    background-color: $color-secondary;
    transform: scaleY(0);
    transition: transform 0s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.1s,
      background-color 0.1s;
  }

  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    color: blue;
  }

  &__link:link,
  &__link:visited {
    position: relative;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    color: $font-color-light;
    z-index: 5;
    transition: all 0.2s;
  }
  &__link:active {
    font-size: 1.4rem;
  }
  &__link:hover {
    opacity: 0.7;
  }

  &__logo {
    margin-left: 15vw;
    cursor: pointer;
    z-index: 10;
    //animation: spin 2s linear 0s;
  }

  &__hamburger {
    display: none;
    @media screen and (max-width: $bp-small) {
      display: inline-block;
      padding: 5px;
      position: absolute;
      right: 10%;
      transform: translateY(-15%);
      z-index: 10;
      cursor: pointer;

      .line {
        width: 3.5rem;
        height: 4px;
        margin-top: 6px;
        background-color: #fff;
      }
    }
  }
}
