.header {
  &-projects {
    &__hero {
      display: grid;
      grid-template-columns: repeat(3, minmax(20rem, 40rem));
      place-content: center;
      justify-items: center;

      h1 {
        margin-bottom: 5rem;
        grid-column: 1 / -1;
        color: $font-color-light;
      }
      @media screen and (max-width: $bp-small) {
        grid-template-columns: repeat(2, minmax(20rem, 40rem));
        place-items: center;
        place-content: center;
        row-gap: 4rem;
      }
    }
    .small-card {
      padding: 0.5rem;
      text-decoration: none;
      color: $color-primary-light;
      background: linear-gradient(to right bottom, #fff, #ccc);
      transition: all 0.7s;

      &:hover {
        cursor: pointer;
        color: $font-color-light;
        background: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
        transform: scale(1.2);
        box-shadow: $shadow-large;
      }
    }
  }
}
