<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/1d0f110cc1.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Lewis Frater | Contact</title>
  </head>
  <body class="container">
    {{{body}}}

    <footer class="footer">
      <div class="footer__links-container">
        <div class="footer__info">
          <div class="footer__icons">
            <a href="https://www.facebook.com/LewisFrater/" target="_blank">
              <i class="fab fa-facebook icon footer__icon"></i>
            </a>

            <a href="https://twitter.com/lewiscf95" target="_blank">
              <i class="fab fa-twitter icon footer__icon"></i>
            </a>

            <a
              href="https://www.linkedin.com/in/lewis-frater-8880491aa/"
              target="_blank"
            >
              <i class="fab fa-linkedin icon footer__icon"></i>
            </a>

            <a href="https://github.com/lewisf20" target="_blank">
              <i class="fab fa-github-square icon footer__icon"></i>
            </a>
          </div>
          <span class="initials footer__initials">lcf</span>
          <div class="footer__links">
            <a href="/" class="footer__link">Home</a>
            <a href="projects" class="footer__link">Projects</a>
            <a href="cv" class="footer__link">CV</a>
            <a href="contact" class="footer__link">Contact</a>
          </div>
        </div>
        <div class="footer__copyright">
          <p class="copy">
            &copy; Copyright 2020, DESIGN &amp; BUILD by
            <span class="footer__name">LEWIS FRATER</span>
          </p>
        </div>
      </div>
    </footer>
    <script src="js/navigation.js"></script>
  </body>
</html>
