@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
/*
  Using Monserrat for main headings & Work Sans for paragraphs and main content
*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 1921px) {
    html {
      font-size: 100%; } }

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #3d3d3d;
  background-color: #fff; }
  body::-webkit-scrollbar {
    width: 1.5rem; }
    body::-webkit-scrollbar-thumb {
      background-image: -webkit-linear-gradient(top, royalblue, #297eff, #6c63ff); }
    body::-webkit-scrollbar-track {
      background: #eee; }

.initials {
  color: #eee;
  font-family: 'Luckiest Guy', cursive;
  font-size: 4rem;
  text-transform: uppercase; }

.icon {
  color: #eee;
  font-size: 3rem; }

.icon-cta {
  color: transparent;
  font-size: 6rem;
  background-image: linear-gradient(to bottom, #297eff, #6c63ff);
  letter-spacing: 0.5rem;
  background-clip: text;
  -webkit-background-clip: text; }

.heading-cta {
  color: #eee;
  font-size: 5.5rem;
  margin-bottom: 0.5rem; }
  .heading-cta--dark {
    color: #3d3d3d; }

h1, h2, h3, h4 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 4.8rem;
  letter-spacing: 0; }

h2 {
  font-size: 3.4rem;
  letter-spacing: 0.25px; }

h3 {
  font-size: 2.4rem;
  letter-spacing: 0; }

h4 {
  font-size: 2rem;
  letter-spacing: 0.15px; }

p {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  line-height: 2.6rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fazeIn {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes land {
  0% {
    transform: scale(3);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes fadeInSlow {
  0% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blurIn {
  0% {
    filter: blur(4px); }
  100% {
    filter: blur(0); } }

@keyframes rotateIn {
  0% {
    transform-origin: left;
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0); } }

@keyframes fromLeft {
  0% {
    transform: translateX(-30rem); }
  100% {
    transform: translateX(0); } }

@keyframes fromRight {
  0% {
    transform: scaleX(-1) translateX(-30rem); }
  100% {
    transform: scaleX(-1) translateX(0); } }

@keyframes fromTop {
  0% {
    transform: translateY(-30rem); }
  100% {
    transform: translateX(0); } }

.u-bold {
  font-weight: 700; }

.u-bold-primary {
  color: #297eff;
  font-weight: 700; }

.u-abbrev {
  color: #297eff;
  font-weight: 700;
  border-bottom: 1px dotted #000;
  cursor: help; }

hr {
  border: 2px solid #297eff;
  width: 80%;
  margin: 8rem;
  max-width: 100rem; }

.footer {
  grid-column: full-start / full-end;
  height: 35rem;
  margin-top: 15rem;
  background: linear-gradient(to bottom, #297eff, #6c63ff);
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 640px) {
    .footer {
      height: 45rem; } }
  .footer__links-container {
    flex: 0.7;
    border-top: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }
  .footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 640px) {
      .footer__info {
        flex-direction: column; } }
  @media screen and (max-width: 640px) {
    .footer__initials, .footer__links, .footer__icons {
      margin-top: 3rem; } }
  .footer__link:link, .footer__link:visited {
    position: relative;
    text-decoration: none;
    outline: none;
    font-size: 1.2rem;
    margin: 0 0.8rem;
    text-transform: uppercase;
    color: #eee; }
  .footer__link:hover {
    opacity: 0.7; }
  .footer__icon {
    margin: 0 0.8rem;
    cursor: pointer; }
  .footer__icon:hover {
    opacity: 0.5; }
  .footer__copyright {
    margin-top: 14rem;
    text-align: center;
    color: #eee;
    font-size: 1.6rem; }
    @media screen and (max-width: 640px) {
      .footer__copyright {
        margin-top: 8rem; } }
  .footer__name {
    text-transform: uppercase;
    font-weight: 700; }

.nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 2rem; }
  .nav__container {
    margin-right: 8rem;
    display: flex;
    width: 40rem;
    justify-content: space-between;
    align-items: center;
    list-style: none; }
    @media screen and (max-width: 1280px) {
      .nav__container {
        display: none;
        position: relative; } }
  .nav__link:link, .nav__link:visited {
    position: relative;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    color: #eee;
    padding: 0.8rem;
    transition: all 0.5s; }
  .nav__link:hover {
    box-shadow: 0 10rem 8rem rgba(154, 183, 255, 0.3); }
  .nav__link:before {
    position: absolute;
    content: '';
    left: 9%;
    bottom: 5px;
    width: 85%;
    height: 2px;
    background-color: #9ab7ff;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.4s cubic-bezier(0.1, 0, 0, 0.5); }
  .nav__link:hover:before {
    transform: scaleX(1); }
  .nav__link--active:before {
    position: absolute;
    content: '';
    left: 9%;
    bottom: 5px;
    width: 85%;
    height: 2px;
    background-color: #9ab7ff;
    transform: scaleX(1);
    box-shadow: 0 10rem 8rem rgba(154, 183, 255, 0.3); }
  .nav__logo {
    margin-left: 15vw;
    cursor: pointer;
    z-index: 10; }
  .nav__hamburger {
    display: none; }

@media screen and (max-width: 1280px) {
  .nav__hamburger {
    position: fixed;
    z-index: 200;
    right: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: #297eff;
    clip-path: circle(50% at 50% 50%);
    transition: all 0.4s cubic-bezier(0.6, 1, 0.8, 1); }
    .nav__hamburger:hover {
      transform: scale(1.1);
      background-color: #fff;
      clip-path: circle(50% at 50% 50%); }
      .nav__hamburger:hover .line {
        background: #297eff; }
    .nav__hamburger .line {
      width: 35px;
      height: 5px;
      margin: 0 0 6px 0;
      background: #fff;
      transition: all 0.4s cubic-bezier(0.6, 1, 0.8, 1); }
      .nav__hamburger .line:last-child {
        margin-bottom: 0; }
    .nav__hamburger--close {
      transform: rotate(90deg); }
    .nav__hamburger--close .line:nth-child(1) {
      transform: rotate(45deg) translate(8px, 8px); }
    .nav__hamburger--close .line:nth-child(2) {
      opacity: 0; }
    .nav__hamburger--close .line:nth-child(3) {
      transform: rotate(-45deg) translate(8px, -8px); } }

.mobile-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #297eff, #6c63ff);
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  transform: translate3d(-100%, 0, -100%);
  transition: all 0.4s cubic-bezier(0.6, 1, 0.8, 1); }
  .mobile-menu--active {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 4rem;
    transform: translate3d(0, -100%, 0);
    transition: all 0.4s cubic-bezier(0.6, 1, 0.8, 1); }
    .mobile-menu__list--active {
      transform: translate3d(0, 0, 0); }
    .mobile-menu__list .nav__item:not(:last-child) {
      margin-bottom: 4rem; }
  .mobile-menu__logo {
    background-color: #9ab7ff;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s cubic-bezier(0.6, 1, 0.8, 1);
    transform: translate3d(0, 100%, 0); }
    .mobile-menu__logo--active {
      transform: translate3d(0, 0, 0); }
    .mobile-menu__logo span {
      font-size: 6rem; }
    .mobile-menu__logo p {
      font-size: 2rem;
      font-weight: 500;
      color: #eee;
      margin-top: auto;
      text-align: center;
      padding: 2rem 1rem; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  overflow-x: hidden; }

.header {
  grid-column: full-start / full-end;
  background: linear-gradient(to bottom, #297eff, #6c63ff);
  display: grid;
  grid-template-rows: 10vh 90vh; }

.header-index {
  grid-template-columns: 1fr 1fr; }
  @media only screen and (max-width: 890px) {
    .header-index {
      grid-template-rows: 10vh 45vh 45vh; } }
  @media screen and (max-width: 640px) {
    .header-index {
      grid-template-rows: 10vh 90vh; } }
  .header-index__content {
    grid-column: 1 / 1;
    position: relative;
    top: -7rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-left: 2rem; }
    @media only screen and (max-width: 890px) {
      .header-index__content {
        grid-column: 1 / 3;
        align-items: flex-end;
        top: 0; } }
    @media screen and (max-width: 640px) {
      .header-index__content {
        align-items: center; } }
  @media only screen and (max-width: 890px) {
    .header-index__content-box {
      text-align: center;
      margin-bottom: 10rem; } }
  .header-index__content-title {
    color: #eee;
    font-size: 5.5rem;
    letter-spacing: 0.6rem;
    margin-bottom: 0.5rem;
    animation: land 2s ease-in 0s; }
  .header-index__content-role {
    color: #eee;
    font-size: 4rem;
    letter-spacing: 0.3rem;
    font-weight: 200;
    animation: blurIn 4s ease-out 0s; }
  .header-index__content-btn {
    margin-top: 2.4rem;
    animation: moveInLeft 2s ease-out 0s; }
  .header-index__img-container {
    height: 100%;
    display: flex;
    position: relative; }
    @media only screen and (max-width: 890px) {
      .header-index__img-container {
        grid-column: 1 / -1; } }
    @media screen and (max-width: 640px) {
      .header-index__img-container {
        display: none; } }
  .header-index__img-main {
    position: relative;
    width: 100%;
    animation: moveInBottom 3s ease-out 0s; }

.motivation-content {
  grid-column: col-start 3 / full-end;
  margin-right: 4rem;
  padding: 2rem 10rem; }
  .motivation-content__svg {
    width: 12rem; }
    @media screen and (max-width: 640px) {
      .motivation-content__svg {
        width: 8rem; } }
  .motivation-content__btn,
  .motivation-content p {
    grid-column: 2 / span 2;
    align-self: center;
    justify-self: center; }
  .motivation-content__btn {
    margin-top: 4rem; }
  @media screen and (max-width: 1280px) {
    .motivation-content {
      grid-column: col-start 1 / col-end 8;
      grid-row: 5 / 6;
      margin-right: 0;
      margin-bottom: 10rem;
      padding-left: 0;
      padding: 4rem 12rem; }
      .motivation-content__btn,
      .motivation-content p {
        grid-column: 1 / span 3; }
      .motivation-content__btn {
        margin-top: 1.5rem; } }
  @media screen and (max-width: 640px) {
    .motivation-content {
      padding: 1rem 0rem; } }

.motivation-aside {
  grid-column: full-start / col-end 2;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }
  .motivation-aside__title {
    color: #eee;
    padding: 4rem;
    text-align: center; }
  .motivation-aside__img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 1280px) {
    .motivation-aside {
      grid-column: col-start 1 / col-end 8;
      grid-row: 6 / 7;
      border-radius: 20px;
      max-width: 90rem;
      align-self: center;
      justify-self: center; } }

.profile-content, .profile-aside {
  margin-top: 15rem; }

.profile-content {
  grid-column: full-start / col-end 6;
  margin-left: 4rem;
  padding: 2rem 10rem; }
  .profile-content__svg {
    width: 12rem; }
    @media screen and (max-width: 640px) {
      .profile-content__svg {
        width: 8rem; } }
  .profile-content__btn,
  .profile-content p {
    grid-column: 2 / span 2;
    align-self: center;
    justify-self: center; }
  .profile-content__btn {
    margin-top: 2.5rem; }
  @media screen and (max-width: 1280px) {
    .profile-content {
      grid-column: col-start 1 / col-end 8;
      margin-left: 0;
      margin-bottom: 10rem;
      padding: 4rem 12rem; }
      .profile-content__btn,
      .profile-content p {
        grid-column: 1 / span 3; }
      .profile-content__btn {
        margin-top: 1.5rem; } }
  @media screen and (max-width: 640px) {
    .profile-content {
      padding: 1rem 0rem; } }

.profile-aside {
  grid-column: col-start 7 / full-end;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; }
  .profile-aside__title {
    color: #eee;
    padding: 4rem;
    text-align: center; }
  .profile-aside__img {
    width: 100%;
    height: 100%; }
  @media screen and (max-width: 1280px) {
    .profile-aside {
      grid-column: col-start 1 / col-end 8;
      border-radius: 20px;
      max-width: 90rem;
      align-self: center;
      justify-self: center; } }

.projects {
  grid-column: center-start / center-end;
  min-height: 40vw;
  background-color: #eee; }

.skills {
  grid-column: full-start / full-end;
  min-height: 100vh;
  margin-bottom: 15rem;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: repeat(8, 1fr); }
  .skills__core {
    grid-column: 1 / -1;
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .skills__core .card {
      height: 38rem;
      margin: 3rem;
      flex: 0 1 30rem; }
      .skills__core .card:hover {
        transform: translateY(-1rem); }
    .skills__core .card:nth-child(1):hover {
      outline: 2.5rem solid #e34c26; }
      .skills__core .card:nth-child(1):hover .card__icon {
        transform: scale(1.5) translateY(-2rem);
        color: #e34c26; }
    .skills__core .card:nth-child(2):hover {
      outline: 2.5rem solid #f0db4f; }
      .skills__core .card:nth-child(2):hover .card__icon {
        transform: scale(1.5) translateY(-2rem);
        color: #f0db4f; }
    .skills__core .card:nth-child(3):hover {
      outline: 2.5rem solid #297eff; }
      .skills__core .card:nth-child(3):hover .card__icon {
        transform: scale(1.5) translateY(-2rem);
        color: #297eff; }
  .skills__title {
    grid-column: 3 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    text-transform: uppercase;
    color: transparent;
    font-size: 6rem;
    background-image: linear-gradient(to right, #297eff, #6c63ff);
    letter-spacing: 0.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.3s ease-in; }
    .skills__title:hover {
      transform: skewX(3deg) skewY(3deg) scale(1.1);
      text-shadow: 0 0.8rem 5rem rgba(0, 0, 0, 0.5); }
  .skills__additional {
    grid-column: 1 / -1;
    margin-top: 15rem;
    margin-bottom: 15rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 40rem));
    gap: 5rem 2rem;
    justify-content: center;
    place-items: center; }
    @media screen and (max-width: 768px) {
      .skills__additional {
        grid-template-columns: repeat(2, minmax(20rem, 40rem));
        gap: 2.5rem 1rem; } }
    @media screen and (max-width: 400px) {
      .skills__additional {
        grid-template-columns: repeat(1, minmax(20rem, 40rem));
        margin-bottom: 8rem; } }
    .skills__additional .small-card {
      padding: 0.5rem;
      background: linear-gradient(to right bottom, #297eff, #6c63ff);
      color: #eee;
      transition: all 0.7s; }
      .skills__additional .small-card:hover {
        cursor: pointer;
        color: #297eff;
        background: linear-gradient(to right bottom, #fff, #ccc);
        transform: scale(1.2);
        box-shadow: 0 0.8rem 5rem rgba(0, 0, 0, 0.5); }

.header-contact {
  place-items: center;
  background: url(../res/contact-bg.svg);
  background-position: center;
  background-size: cover; }
  .header-contact__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem; }
  .header-contact__content {
    display: flex;
    place-items: flex-end;
    place-content: center; }
  .header-contact__img {
    width: 25%;
    margin: 0 1rem;
    border-bottom: 5px solid #6c63ff;
    animation: fromLeft 2s ease; }
    @media screen and (max-width: 640px) {
      .header-contact__img {
        display: none; } }
  .header-contact img:nth-last-child(1) {
    transform: scaleX(-1) translateY(-1px);
    animation: fromRight 2s ease; }
  .header-contact__title {
    margin-bottom: 2rem; }

.header-projects__hero {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 40rem));
  place-content: center;
  justify-items: center; }
  .header-projects__hero h1 {
    margin-bottom: 5rem;
    grid-column: 1 / -1;
    color: #eee; }
  @media screen and (max-width: 640px) {
    .header-projects__hero {
      grid-template-columns: repeat(2, minmax(20rem, 40rem));
      place-items: center;
      place-content: center;
      row-gap: 4rem; } }

.header-projects .small-card {
  padding: 0.5rem;
  text-decoration: none;
  color: #297eff;
  background: linear-gradient(to right bottom, #fff, #ccc);
  transition: all 0.7s; }
  .header-projects .small-card:hover {
    cursor: pointer;
    color: #eee;
    background: linear-gradient(to right bottom, #297eff, #6c63ff);
    transform: scale(1.2);
    box-shadow: 0 0.8rem 5rem rgba(0, 0, 0, 0.5); }

.project {
  grid-column: full-start / full-end;
  text-align: center; }
  .project__container {
    display: flex;
    text-align: left; }
    @media screen and (max-width: 1280px) {
      .project__container {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .project__container-left {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 3rem;
      flex: 1;
      height: 60rem; }
    .project__container-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2.5rem;
      padding-right: 18rem; }
      @media screen and (max-width: 1280px) {
        .project__container-right {
          padding: 5rem 3rem; } }
  .project__technologies {
    display: flex;
    flex-direction: column;
    align-self: flex-start; }
  .project__icons-list {
    list-style: none;
    margin-bottom: 2.5rem;
    align-self: flex-end;
    justify-self: flex-end;
    width: 100%;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .project__icons-list .icon {
      color: #297eff;
      font-size: 2rem;
      padding: 1.4rem; }
    .project__icons-list li {
      font-size: 1.6rem;
      display: flex;
      align-items: center; }
  .project__buttons-wrapper .view-btn:nth-child(1) {
    margin-right: 8vw; }
  .project .view-btn:link,
  .project .view-btn:visited {
    position: relative;
    color: #297eff;
    font-size: 1.6rem;
    text-decoration: none;
    align-self: flex-end;
    transition: 0.2s; }
    .project .view-btn:link:hover,
    .project .view-btn:visited:hover {
      color: #6c63ff;
      font-weight: 500; }
  .project__img {
    width: 90%;
    border-radius: 10px; }
  .project img {
    box-shadow: 0 0.8rem 4rem rgba(0, 0, 0, 0.25); }
  .project h1 {
    margin-bottom: 4rem; }
  .project h2 {
    margin-bottom: 2rem; }
  .project h3 {
    margin-bottom: 2rem; }
  .project p {
    margin-bottom: 1.8rem; }
  .project hr {
    margin: 15rem auto; }

#chittr {
  margin-top: 10rem; }
  #chittr img {
    width: 40%;
    margin-top: 3rem;
    border-radius: 40px; }

@media screen and (max-width: 640px) {
  #e-portfolio .project__container-right,
  #learning-package .project__container-right {
    margin-top: -15rem; } }

.header-cv {
  grid-template-rows: 10vh;
  margin-bottom: 20rem; }

.personal-profile {
  grid-column: col-start 1 / col-end 8;
  place-self: center;
  z-index: 10;
  width: 80%;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 1rem; }
  .personal-profile h1 {
    animation: fromTop 2s ease; }
  .personal-profile__img {
    animation: fromTop 2.3s ease; }
  .personal-profile i {
    animation: fadeInSlow 2.5s ease; }
  .personal-profile__title {
    margin-top: 8rem;
    margin-bottom: 2.5rem; }
  .personal-profile p {
    width: 100%; }

.education {
  grid-column: full-start / full-end;
  place-self: center;
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .education__content {
    width: 90%;
    display: flex;
    justify-content: space-evenly; }
    @media screen and (max-width: 640px) {
      .education__content {
        flex-direction: column;
        margin-top: 5rem; } }
  .education__right-wrapper, .education__left-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem; }
    @media screen and (max-width: 640px) {
      .education__right-wrapper, .education__left-wrapper {
        margin-top: 4rem; } }
  .education__grades {
    list-style: none; }
    .education__grades li {
      margin: 1.5rem 1rem; }
  .education__date {
    font-weight: 600;
    text-decoration: underline; }
  .education__title {
    text-align: center;
    margin-bottom: 6rem; }

.key-skills {
  grid-column: center-start / center-end;
  font-size: 1.6rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .key-skills__box {
    margin: 2rem 3rem; }
    .key-skills__box h2 {
      margin-bottom: 2.5rem; }
  .key-skills__list {
    list-style: none; }
    .key-skills__list li {
      margin: 2rem 0; }

.experience {
  grid-column: center-start / center-end;
  place-self: center;
  width: 80%;
  font-size: 1.6rem; }
  .experience__occupation {
    margin-bottom: 2.5rem; }
  .experience__achievements {
    list-style: none; }
    .experience__achievements li {
      margin: 2rem; }
  .experience h2 {
    text-align: center;
    margin-bottom: 4rem; }
  .experience h3:nth-child(3) {
    margin-bottom: 2.5rem; }
  .experience p {
    margin-bottom: 2.5rem; }

.references {
  grid-column: center-start / center-end;
  place-self: center;
  text-align: center; }
  .references__title {
    font-size: 3.6rem;
    margin-bottom: 2.5rem; }

.btn-light, .btn-dark {
  min-width: 10rem;
  display: inline-block;
  max-width: 22rem;
  padding: 1.2rem 1.5rem;
  min-height: 4rem;
  border-radius: 100px;
  background: none;
  box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer; }

.btn-light {
  color: #eee;
  border: 2px solid #eee; }
  .btn-light:hover {
    transform: scale(0.95);
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.3); }
  .btn-light:active {
    transform: scale(0.9);
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.4); }

.btn-dark {
  color: #297eff;
  border: 2px solid #297eff; }
  .btn-dark:hover {
    transform: scale(0.95);
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.3); }
  .btn-dark:active {
    transform: scale(0.9);
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.4); }

.card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  transition: 0.4s all cubic-bezier(0.6, 1, 0.8, 1);
  overflow: hidden;
  box-shadow: 0 0.8rem 5rem rgba(0, 0, 0, 0.5);
  background-color: #fff; }
  .card__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    background: #eee;
    text-align: center;
    font-size: 2.8rem;
    color: #3d3d3d;
    transition: all 1.2s; }
  .card__img {
    width: 100%;
    height: 100%; }
  .card__icon {
    position: absolute;
    bottom: 20%;
    font-size: 14rem;
    color: #fff;
    transition: all 0.5s; }

.small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  height: 15rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.8rem 4rem rgba(0, 0, 0, 0.25); }
  .small-card__title {
    text-align: center; }
  .small-card__icon {
    font-size: 6rem; }

.social {
  grid-column: col-start 1 / col-end 8;
  justify-self: center;
  display: flex;
  flex-direction: column;
  height: 60rem;
  margin-top: 15rem;
  text-align: left; }
  .social__title {
    font-size: 4.8rem;
    margin-bottom: 4rem;
    text-align: center; }

#social__link:link, #social__link:visited {
  text-decoration: none;
  font-size: 3.6rem;
  font-weight: 300;
  color: #3d3d3d;
  padding: 0.5rem 0.8rem;
  transition: 0.1s ease-in;
  margin-bottom: 2.2rem; }
  @media screen and (max-width: 640px) {
    #social__link:link, #social__link:visited {
      font-size: 2.6rem; } }
  #social__link:link > span, #social__link:visited > span {
    color: #3d3d3d; }

#social__link:hover {
  background-color: #6c63ff;
  color: #eee;
  border-radius: 10px; }

.content-canvas {
  display: grid;
  grid-template-columns: minmax(20px, auto) 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 3rem;
  justify-items: flex-start;
  align-items: center; }
  @media screen and (max-width: 640px) {
    .content-canvas {
      gap: 2rem; } }

.aside-card {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15rem;
  background: linear-gradient(to bottom, #297eff, #6c63ff); }

.contact-form {
  width: 55rem;
  height: 70rem;
  background-color: #fff;
  border: 2px solid #297eff;
  border-radius: 5px;
  box-shadow: 0 0.8rem 4rem rgba(0, 0, 0, 0.25);
  padding: 2rem 0;
  animation: fazeIn 0.5s ease; }
  @media screen and (max-width: 640px) {
    .contact-form {
      width: 45rem;
      height: 60rem; } }
  .contact-form__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5rem;
    width: 100%;
    height: 100%; }
  .contact-form div:nth-child(3) {
    margin-bottom: 4.5rem; }
  .contact-form__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    color: #297eff;
    font-size: 2rem;
    font-weight: 500; }
    .contact-form__box label {
      margin-bottom: 1rem; }
    .contact-form__box input {
      height: 3rem;
      width: 80%;
      padding: 2rem 2rem;
      font-size: 1.6rem;
      font-family: "Montserrat", sans-serif;
      border: none;
      border-bottom: 3px solid #297eff;
      transition: 0.5s ease; }
      .contact-form__box input:focus {
        background-color: #eee;
        border: 3px solid #297eff;
        border-radius: 10px;
        width: 100%;
        outline: none; }
    .contact-form__box textarea {
      border: 2px solid #297eff;
      font-family: "Montserrat", sans-serif;
      border-radius: 15px;
      padding: 1rem;
      outline: none;
      width: 100%;
      height: 6rem;
      transition: 0.5s ease; }
      .contact-form__box textarea:focus {
        background-color: #eee;
        height: 12rem; }
  .contact-form__btn {
    align-self: center;
    padding: 0 3rem; }
