%button {
  min-width: 10rem;
  display: inline-block;
  max-width: 22rem;
  padding: 1.2rem 1.5rem;
  min-height: 4rem;
  border-radius: 100px;
  background: none;
  box-shadow: 0rem 1rem 4rem rgba($color: #000000, $alpha: 0.2);
  transition: all 0.2s;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
}

.btn {
  &-light {
    @extend %button;
    color: $font-color-light;
    border: 2px solid $font-color-light;

    &:hover {
      transform: scale(0.95);
      box-shadow: 0rem 1rem 4rem rgba($color: #000000, $alpha: 0.4);
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0rem 1rem 4rem rgba($color: #000000, $alpha: 0.5);
    }
  }

  &-dark {
    @extend %button;
    color: $color-primary-light;
    border: 2px solid $color-primary-light;

    &:hover {
      transform: scale(0.95);
      box-shadow: 0rem 1rem 4rem rgba($color: #000000, $alpha: 0.4);
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 0rem 1rem 4rem rgba($color: #000000, $alpha: 0.5);
    }
  }
}
