.content-canvas {
  display: grid;
  grid-template-columns: minmax(20px, auto) 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 3rem;
  justify-items: flex-start;
  align-items: center;

  @media screen and (max-width: $bp-small) {
    gap: 2rem;
  }
}
